.card__title {
    max-width: 352px;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 115%;
    color: #1A1B22;
    margin-bottom: 16px;
}

@media (max-width: 990px) {
    .card__title {
        font-size: 22px;
        line-height: 109%;
        margin-bottom: 10px;
        max-height: 72px;
        overflow: hidden;
    }
}