.search__input {
    width: 376px;
    height: 22px;
    margin: auto 40px auto 24px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 137%;
    border: none;
    outline:none;
}

.search__input::placeholder {
    color: #B6BCBF;
}

@media (max-width: 460px) {
    .search__input {
        width: 256px;
        margin: auto 16px auto 16px;
    }
}