@import url('./__cards/results__cards.css');
@import url('./__header/results__header.css');
@import url('./__link-arrow/results__link-arrow.css');
@import url('./__link/results__link.css');
@import url('./__title/results__title.css');
@import url('./__button/results__button.css');

.results {
    display: flex;
    flex-direction: column;
    background-color: #F5F6F7;
    /* display: none; */
}
