.search__button-active {
    animation: radial-pulse 2s infinite;
}

@keyframes radial-pulse {
    0% {
    box-shadow: 0 0 0 0px rgb(31, 98, 214);
    }

    100% {
    box-shadow: 0 0 10px 15px rgba(0, 0, 0, 0);
    }
}
