.analytics__value {
    margin-bottom: 24px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 133%;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #B6BCBF;
}

@media (max-width: 460px) {
    .analytics__value {
        margin-bottom: 8px;
    }
}