.card__description {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 137%;
    color: #1A1B22;
}

@media (max-width: 990px) {
    .card__description {
        height: 88px;
        overflow: hidden;
    }
}