@import url('./__description/customers__description.css');
@import url('./__paragraph/customers__paragraph.css');
@import url('./__title/customers__title.css');


.customers {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 80px 0 94px 104px;
    color: #1A1B22;
}

@media (max-width: 990px) {
    .customers {
        margin: 30px 40px 26px;
    }
}

@media (max-width: 460px) {
    .customers {
        margin: 16px;
    }
}