.search__title {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 107%;
    color: #fff;
}

@media (max-width: 990px) {
    .search__title {
        font-size: 36px;
        line-height: 111%;
        max-width: 385px;
    }
}

@media (max-width: 460px) {
    .search__title {
        max-width: 285px;
    }
}