@import url('./__item/tech__item.css');
@import url('./__name/tech__name.css');
@import url('./__section/tech__section.css');
@import url('./__title/tech__title.css');
@import url('./__image/tech__image.css');

.tech {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: auto;
    max-width: 1440px;
    width: 100%;
    background-color: #F5F6F7;
    padding: 80px 0 88px;
}

#webpack {
    margin-top: -10px;
}

@media (max-width: 1246px) {
    .tech {
        flex-direction: column;
        padding: 40px 0 49px;
    }
}

@media (max-width: 990px) {
    #webpack {
        margin-top: -10px;
    }
    /* .tech {
        align-items: center;
    } */
}

@media (max-width: 460px) {
    .tech {
        padding: 32px 0 52px;
    }
}