@import url('./__circle/preloader__circle.css');
@import url('./__description/preloader__description.css');

.preloader {
    min-height: 282px;
	background-color: #F5F6F7;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}