.about__title {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 115%;
    color: #1A1B22;
    margin-bottom: 24px;
}

@media (max-width: 990px) {
    .about__title {
        font-size: 30px;
        line-height: 133%;
    }
}