.not-found__title {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 115%;
    text-align: center;
    color: #1A1B22;
    margin: 30px 0 16px;
}