@import url('./__button/search__button.css');
@import url('./__description/search__description.css');
@import url('./__field/search__field.css');
@import url('./__input/search__input.css');
@import url('./__main/search__main.css');
@import url('./__title/search__title.css');
@import url('./__error/search__error.css');


.search {
    background: url("../../images/search-background.jpg") center;
    background-size: cover;
    height: 576px;
}

@media (max-width: 990px) {
    .search {
        height: 400px;
    }
}

@media (max-width: 460px) {
    .search {
        height: 536px;
    }
}
