.results__title {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 115%;
    color: #1A1B22;
}

@media (max-width: 990px) {
    .results__title {
        font-size: 30px;
        line-height: 113%;
    }
}

@media (max-width: 460px) {
    .results__title {
        max-width: 288px;
        margin-bottom: 16px;
    }
}
