@import url('./__copyright/footer__copyright.css');
@import url('./__icons/footer__icons.css');
@import url('./__link/footer__link.css');
@import url('./__links/footer__links.css');
@import url('./__icon/footer__icon.css');

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

@media (max-width: 695px) {
    .footer {
        height: 224px;
    }
}
