@import url('../fonts/roboto.css');
@import url('../normalize.css');
@import url('./blocks/flickity/flickity.css');

@import url('./blocks/customers/customers.css');
@import url('./blocks/history/history.css');
@import url('./blocks/tech/tech.css');

.app {
  max-width: 1440px;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}
