.card__image {
  height: 272px;
  width: 100%;
  object-fit: fill;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

@media (max-width: 990px) {
  .card__image {
    height: 150px;
  }
}

@media (max-width: 680px) {
  .card__image {
    height: 196px;
  }
}
