.card__image {
    width: 100%;
    padding-bottom: 24px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

@media (max-width: 990px) {
    .card__image {
        padding-bottom: 16px;
    }
}