.results__button {
    width: 288px;
    height: 64px;
    align-self: center;
    background: #FFFFFF;
    border-radius: 80px;
    margin-bottom: 80px;
    border: none;
    outline: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 133%;
    color: #1A1B22;
    margin: 64px auto 80px;
    transition: transform .4s;
}

.results__button:hover {
    opacity: 0.9;
    cursor: pointer;
    -webkit-box-shadow: 0px 10px 58px 47px rgba(8, 29, 45, 0.1);
    -moz-box-shadow: 0px 10px 58px 47px rgba(8, 29, 45, 0.1);
    box-shadow: 0px 10px 58px -10px rgba(8, 29, 45, 0.1);
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    transition: transform .4s;
}

@media (max-width: 990px) {
    .results__button {
        margin: 32px auto 40px;
    }
}

@media (max-width: 460px) {
    .results__button {
        margin: 13px auto 44px;
    }
}
