.search__field {
    height: 64px;
    width: 99%;
    display: flex;
    flex-direction: row;
    background-color: #fff;
    border-radius: 32px;
    position: relative;
    transition: transform .2s;
}

@media (max-width: 990px) {
    .search__field {
        height: 56px;
    }
}

@media (max-width: 460px) {
    .search__field {
        width: 288px;
        height: 56px;
        border-radius: 32px;
        flex-direction: column;
    }
}

.search__field_active {
  -webkit-box-shadow: 0 0 10px 2px rgb(31, 98, 214);
  -moz-box-shadow: 0 0 10px 2px rgb(31, 98, 214);;
  box-shadow: 0 0 10px 2px rgb(31, 98, 214);
  -webkit-transform: scale(1.01);
  -ms-transform: scale(1.01);
  transform: scale(1.01);
  transition: transform .2s;
}
