@import url('../fonts/roboto.css');
@import url('../normalize.css');
@import url('./blocks/analytics/analytics.css');
@import url('./blocks/request/request.css');
@import url('./blocks/table/table.css');

.app {
  max-width: 1440px;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}
