.card__date {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 133%;
    display: flex;
    align-items: center;
    color: #B6BCBF;
    align-self: flex-start;
    margin: 0 0 12px 24px;
}

@media (max-width: 990px) {
    .card__date {
        margin: 0 0 12px 16px;
    }
}
