@import url('./__header/analytics__header.css');
@import url('./__number/analytics__number.css');
@import url('./__quantity/analytics__quantity.css');
@import url('./__scale/analytics__scale.css');
@import url('./__table/analytics__table.css');
@import url('./__title/analytics__title.css');
@import url('./__value/analytics__value.css');
@import url('./__week/analytics__week.css');

.analytics {
    display: flex;
    flex-direction: column;
    padding: 80px 104px;
    background-color: #F5F6F7;
}

@media (max-width: 990px) {
    .analytics {
        padding: 40px;
    }
}

@media (max-width: 460px) {
    .analytics {
        padding: 24px 16px 38px;
    }
}