.main-carousel {
    width: 100%;
    height: 288px;
    background-color: #F5F6F7;
}

.carousel-cell {
    width: 400px;
    height: 288px;
    background-color: #fff;
    border-radius: 16px;
    margin-right: 16px;
    counter-increment: carousel-cell;
}
