.customers__paragraph {
    margin-bottom: 20px;
}

.customers__paragraph:last-child {
    margin-bottom: 0;
}

@media (max-width: 990px) {
    .customers__paragraph:last-child {
        margin-bottom: 20px;
    }
}