@import url('./_black/header__caption_black.css');
@import url('./_white/header__caption_white.css');

.header__caption {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 120%;
    margin-left: 104px;
    text-decoration: none;
}

@media (max-width: 990px) {
    .header__caption {
        margin-left: 40px;
    }
}

@media (max-width: 460px) {
    .header__caption {
        font-size: 16px;
        line-height: 150%;
        margin-left: 16px;
    }
}
