.history__title {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 115%;
    color: #1A1B22;
}

@media (max-width: 990px) {
    .history__title {
        max-width: 336px;
        font-size: 30px;
        line-height: 113%;
    }
}