@import url("./fonts/roboto.css");
@import url("normalize.css");
@import url("./blocks/header/header.css");
@import url("./blocks/search/search.css");
@import url("./blocks/footer/footer.css");
@import url("./blocks/about/about.css");
@import url("./blocks/preloader/preloader.css");
@import url("./blocks/not-found/not-found.css");
@import url("./blocks/results/results.css");
@import url("./blocks/card/card.css");
@import url("./blocks/error-server/error-server.css");

.app {
  max-width: 1440px;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.container__hidden {
  display: none;
}
