.history__link {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #1A1B22;
    text-decoration: none;
    display: flex;
    align-items: center;
    text-align: center;
}

@media (max-width: 460px) {
    .history__link {
        width: 288px;
        height: 56px;
        padding-left: 69px;
        position: absolute;
        bottom: 32px;
        left: 16px;
        border: 1px solid #1A1B22;
        box-sizing: border-box;
        border-radius: 80px;
    }
    .results__link-arrow {
        display: none;
    }
}