@import url("./__description/not-found__description.css");
@import url("./__icon/not-found__icon.css");
@import url("./__title/not-found__title.css");

.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f6f7;
}
