.serch__description {
    max-width: 545px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 133%;
    color: #fff;
    padding: 32px 0 64px;
}

@media (max-width: 990px) {
    .serch__description {
        max-width: 452px;
        padding: 16px 0 24px;
    }
}

@media (max-width: 460px) {
    .serch__description {
        max-width: 288px;
        padding: 16px 0 64px;
    }
}