.footer__icons {
    margin: 33px 104px 25px 0;
}

.footer__icon:first-child {
    margin-right: 26px;
}

@media (max-width: 990px) {
    .footer__icons {
        margin: 21px 42px 21px 0;
    }

    .footer__icon:first-child {
        margin-right: 28px;
    }
}

@media (max-width: 695px) {
    .footer__icons {
        margin: 22px 18px 0 0;
    }

    .footer__icon:first-child {
        margin-right: 28px;
    }
}
