.tech__title {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 115%;
    color: #1A1B22;
    max-width: 344px;
    margin: 0 178px 0 104px;
}

@media (max-width: 990px) {
    .tech__title {
        margin: 0 0 0 40px;
    }
}

@media (max-width: 460px) {
    .tech__title {
        font-size: 30px;
        line-height: 133%;
        margin: 0 0 0 16px;
    }
}