.analytics__number {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 133%;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: 6px;
}