.card__source {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #B6BCBF;
    margin: 0 0 18px 24px;
}

@media (max-width: 990px) {
    .card__source {
        margin: 0 0 18px 16px;
    }
}
